html,
body {
    height: 100%;
    margin: 0;
}
section {
    height: 100vh;
}

p {
    font-family: 'Segoe UI';
    font-size: 24pt;
}

.i-am-centered { 
  align-content: center;
  border: 3px solid green;
  padding: 10px;

}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.white-text {
    color: #F3F3F3;
}

.gray-text {
    color: #707070;
}

#About {
    background-color: #5FA8D3;
}

#Back_End {
    background-color: #D9E8D8;
}

