{% extends 'base.html' %}

{% block title %}
<title>Ethan Domingo</title>
{% endblock title %}

{% block content %}
<section id="About" class="bg-primary ">
    <div class="container">

        <h2>Hi there</h2>


    </div>
    <!-- /.container-->
</section>

<section id="Front_End" class="bg-primary ">
    <div class="container">

        <h2>Front End Development</h2>

    </div>
    <!-- /.container-->
</section>

<section id="Back_End" class="bg-primary ">
    <div class="container">

        <h2>Back End Development</h2>


    </div>
    <!-- /.container-->
</section>

<section id="Data_Science" class="bg-primary ">
    <div class="container">

        <h2>Data Science/Analytics.</h2>


    </div>
    <!-- /.container-->
</section>

{% endblock content %}