{% extends 'base.html' %}

{% block title %}
<title>Ethan Domingo</title>
{% endblock title %}

{% block content %}
{% load static %}


<div id="About" class="container-fluid">
    <div class="container">
        <section  class="row">
            <div class="row my-auto">
                <div class="col-md-6 align-self-center mt-5 mb-5 fade-in">
                    <img src="{% static 'images/propicwebsite.png' %}" style="width:256px;height:256px;" class="float-center"></img>
                </div>  

                <div class="col-md-6 align-self-center fade-in">
                    <p class="white-text">Hi, I'm Ethan. I'm a software developer from
                        Los Angeles, California. Scroll Down to learn
                        more about me! 
                    </p>
                </div>  
            </div>
        </section>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="container">
        <section id="Front_End" class="row">
            <div class="row my-auto">
                <div class="col-md-6 align-self-center mt-5 mb-5 fade-in">  
                    <img src="{% static 'images/FrontEndLogoPic.png' %}" class="float-center"></img>
                </div>

                <div class="col-md-6 align-self-center fade-in">
                    <h2 class="text-left gray-text">Front End Development</h3>
                    
                    <p class="gray-text">hey hey i span 3 coloumbs and bootstrap allows a maximum of 12 
                        so i have another 6 coloums more i can create and after that i will have to declare another 
                        "row " class , though i can declare the new row class in the same container 
                    </p>
                </div>  
            </div>
        </section>
    </div>
</div>

<div id="Back_End" class="container-fluid">
    <div class="container">
        <section  class="row">
            <div class="row my-auto">
                <div class="col-md-6 align-self-center mt-5 mb-5 fade-in">
                    <img src="{% static 'images/BackEndLogo.png' %}" class="float-center"></img>
                </div>  

                <div class="col-md-6 align-self-center fade-in">
                    <h2 class="text-left gray-text">Back End Development</h3>
                    
                    <p class="gray-text">hey hey i span 3 coloumbs and bootstrap allows a maximum of 12 
                        so i have another 6 coloums more i can create and after that i will have to declare another 
                        "row " class , though i can declare the new row class in the same container 
                    </p>
                </div>  
            </div>
        </section>
    </div>
</div>

<div class="container-fluid bg-white">
    <div class="container">
        <section id="DataScience" class="row">
            <div class="row my-auto">

                <div class="col-md-6 align-self-center mt-5 mb-5 fade-in">
                    <img src="{% static 'images/DataScienceLogo.png' %}" class="float-center"></img>
                </div>

                <div class="col-md-6 align-self-center fade-in">
                    <h2 class="text-left gray-text">Data Science/Analytics</h3>
                    
                    <p class="gray-text">hey hey i span 3 coloumbs and bootstrap allows a maximum of 12 
                        so i have another 6 coloums more i can create and after that i will have to declare another 
                        "row " class , though i can declare the new row class in the same container 
                    </p>
                </div>  
            </div>
        </section>
    </div>
</div>


{% endblock content %}